/* SELECAO */
::selection {background: #40B0FF; color: #000;}
::-moz-selection {background: #40B0FF; color: #000;}

/* BARRA */
::-webkit-scrollbar-track {
	background-color: var(--background);
}

::-webkit-scrollbar {
	width: 8px;
	background-color: var(--background);
}

::-webkit-scrollbar-thumb {
	background-color: #307CE6;
}

@media screen and (min-width: 801px) {
    ::-webkit-scrollbar {
	   width: 8px;
    }
}

@media screen and (max-width: 600px) {
    ::-webkit-scrollbar {
	   width: 5px;
    }
}