:root {
  --background: #f0f0f7;
  --primary: #3689ff;
  --primary-dark: #1B4580;
  --gray: #6c757d;
  --white: #f8f9fa;
  --white-dark: #E6E6E6;
  --text: #313131;

  --green: #28a745;

  font-size: 60%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body{
  height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
}

a{
  text-decoration: none;
}

a:visited{
  text-decoration: none;
}

a:link{
  text-decoration: none;
}

a:active{
  text-decoration: none;
}

input, select, button, textarea:focus{
  outline: none;
}

body {
  background: var(--background);

  font-family: 'Roboto', sans-serif;
  color: var(--text);
}

/* Ajuda para o JS */
.invisible{
  display: none;
}

@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}