:root {
  --background: #f0f0f7;
  --primary: #3689ff;
  --primary-dark: #1B4580;
  --gray: #c8c8c8;
  --white: #fff;
  --white-dark: #E6E6E6;
  --text: #1F2120;

  font-size: 60%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body{
  height: 100vh;
}

a{
  text-decoration: none;
}

a:visited{
  text-decoration: none;
}

a:link{
  text-decoration: none;
}

a:active{
  text-decoration: none;
}

input:focus{
  outline: none;
}

button:focus {
  outline:0;
  
}

body {
  background: var(--background);

  font-family: 'Roboto', sans-serif;
  color: var(--text);
}

/* Ajuda para o JS */
.invisible{
  display: none;
}

@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}