#menu{
  background-color: var(--primary);
  color: var(--white) !important;
  padding: 0.9rem;
}

#menu header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
}

.logo{
  font-size: 2.3rem;
  font-family: Archivo, sans-serif;
}

.search{
  margin: 1.5rem 0;
}

.search input{
  width: 100%;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  letter-spacing: .1rem;
  color: var(--text);
}

.search-button{
  display: none;
}

.categories-button{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.1rem;
  margin: 1rem 0 1rem;
  padding: 1rem;
  font-family: Archivo, arial;

  cursor: pointer;
}

.categories-button svg{
  margin-left: 1rem;
}

.categories{
  background-color: var(--white);
  padding: 0.8rem;

  color: var(--text);
  border-radius: 0.5rem;
}

.categories a{
  color: var(--text);
}

.categories ul{
  display: flex;
  flex-direction: column;
}

.categories button{
  list-style: none;
  font-size: 2rem;
  cursor: pointer;
  background: none;
  border: none;
  text-align: left;
}

.categories button + button{
  margin-top: 0.9rem;
}

.categories button label{
  margin-left: 1rem;
  font-size: 1.4rem;
  
}

#search-book{
  height: 3.5rem;
  border: none;
  padding: 0 1rem;
  border-radius: 90rem;
}

.user-info a{
  color: var(--white);
}

.user-info a:hover{
  text-decoration: underline;
}

.user-info button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
    border: 2px solid var(--white);
    border-radius: 0.4rem;
    background: var(--primary);
    color: var(--white);
  
    font-family: 'Archivo', sans-serif;
    font-weight: 700;
    letter-spacing: 0.03rem;
  
    cursor: pointer;
    transition: 0.3s;
}

.user-info button:hover{
  border-color: var(--gray);
  color: var(--gray);
}

.account-link{
  display: inline;
}

.account-link-part{
  display: none;
}

@media screen and (min-width: 800px) {
  #menu{
    background-color: var(--primary);
    color: var(--white) !important;
    padding: 0;
  }

  #menu header{
    align-items: center;
    padding: 2rem 2rem;
  }

  .account-link-part{
    display: inline;
  }

  .search{
    display: flex;

    background-image: url('../images/wallpaper.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin: 0;
    padding: 10rem;
  }

  .search-book input{
    width: 80%;
  }

  #search-book{
    height: 4rem;
  }

  .search-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    padding: 0 2rem;
    border-radius: 90rem;
    background: var(--primary);
    margin-left: 1.5rem;
    font-weight: medium;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--white);
    transition: background 0.6s;
    border: none;
  }

  .search-button:hover{
    background: var(--primary-dark);

  }

  .categories-button{
    display: none;
  }

  .categories{
    display: flex !important;
    align-items: center;
    justify-content: center;
    background: var(--primary);
  }

  .categories ul{
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  .categories button + button{
    margin-top: 0;
  }

  .categories button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    background-color: var(--white);
    color: var(--primary);
    border-radius: 5rem;
    padding: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
    white-space: nowrap;

    transition: background-color 0.4s;
  }

  .categories button:hover{
    background-color: var(--white-dark);
  }
}

@media screen and (min-width: 1000px) {
  .categories ul{
    grid-template-columns: repeat(9, auto);
  }
}