#menu{
  background-color: var(--primary);
  color: var(--white) !important;
  padding: 0.9rem;
}

#menu header{
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
}

.search{
  margin: 1rem 0 1rem;
}

.search input{
  width: 100%;
}

.categories-button{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.1rem;
  margin: 1rem 0 1rem;
  padding: 1rem;
  border: solid 0.4rem var(--white);
}

.categories{
  background-color: var(--gray);
  padding: 0.8rem;

  border-radius: 0.5rem;
}

.categories li{
  list-style: none;
  font-size: 1.5rem !important;
  margin-bottom: 0.2rem
}

.categories li label{
  margin-left: 1rem;
  font-size: 1.4rem;
  
}
