.content{
  padding: 2rem;
}

.title{
  font-size: 3rem;
  font-weight: bold;
  font-family: Archivo, sans-serif;
  text-align: center;
  width: 100%;
  overflow-wrap: break-word;
}

.book-infos{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.product-image img{
  margin-top: 1rem;
  position: relative;
  max-height: 400px;
}

.details{
  width: 100%;
}

.info{
  width: 100%;
  padding: 1rem 0;
  border-bottom: 0.4rem solid var(--primary);
}

.info h2{
  margin-bottom: 0.6rem;
}

.description{
  letter-spacing: 0.19rem;
  font-size: 1.6rem;
  text-align: justify;
  margin-top: 2rem;
}

.button-product{
  padding: 2.5rem;
  margin-top: 2rem;
}

.button-product:hover{
  background-color: var(--background) !important;
}

@media (min-width: 700px) {
  .book-infos{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "t t"
                         "i d"
                         "i b";
  }

  .details{
    grid-area: d;
  }

  .product-image{
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 350px;
    grid-area: i;
  }

  .title{
    font-size: 4rem;
    grid-area: t;
    margin-bottom: 3rem;
  }

  .button-product{
    grid-area: b;
  }

  .content{
    padding: 4rem;
  }
}