.container{
  width: 100vw;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.books{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.book{
  margin-top: 2rem;
  padding: 2rem;
  width: 100%;
  height: auto;
  background-color: var(--gray);
  border-radius: 1rem;
}

.book .image-div{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.book img{
  height: 100%;
  width: 100%;
  max-width: 128px;
}

.book .infos{
  display: flex;
  flex-direction: column;
}

.book .infos h1{
  font-size: 2.5rem;
  font-weight: 700;
}

.book .infos h2{
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 0.5rem;
}

.book .infos .description{
  font-size: 1.5rem;
  text-align: justify;
  margin-top: 0.5rem;
}

.book .infos .date{
  margin-top: 0.75rem;
  font-size: 1.4rem;
  font-style: italic;
}

.book .infos .button-div{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 1rem 0;
}

.book .infos .button-div button{
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--green);
  border: none;
  border-radius: 0.5rem;
  color: var(--white);
  padding: 1rem;

  cursor: pointer;
  transition: background 0.2s;
}

.book .infos .button-div button:hover{
  background: #228C3B;
}

@media screen and (min-width: 800px) {  
  .book{
    display: flex;
    padding: 1rem;
    width: 60rem;
    height: auto;
  }
  
  .book img{
    height: auto;
    width: auto;
  }
  
  .book .infos{
    width: 100%;
    height: 100%;
    margin-left: 2rem;
  }

  .book .image-div{
    display: block;
    width: auto;
    height: auto;
  }

  .book .infos .button-div{
    margin-top: 100%;
    margin-left: 100%;
  }

  .book .infos .button-div{
    margin-top: 100%;
    margin-left: 100%;
    margin: 0;
  }
}