.container{
  width: 100vw;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.books{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.book{
  margin-top: 2rem;
  padding: 2rem;
  width: 100%;
  height: auto;
  background-color: var(--white);
  border-radius: 1rem;

  -webkit-box-shadow: 8px 7px 4px -2px rgba(0,0,0,0.33);
  -moz-box-shadow: 8px 7px 4px -2px rgba(0,0,0,0.33);
  box-shadow: 8px 7px 4px -2px rgba(0,0,0,0.33);
}

.book .image-div{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.book img{
  height: 100%;
  width: 100%;
  max-width: 128px;
}

.book .infos{
  display: flex;
  flex-direction: column;
}

.book .infos h1{
  font-size: 2.5rem;
  font-weight: 700;
}

.book .infos h2{
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 0.5rem;
}

.book .infos .description{
  font-size: 1.5rem;
  text-align: justify;
  margin-top: 0.5rem;
}

.book .infos .date{
  margin-top: 0.75rem;
  font-size: 1.4rem;
  font-style: italic;
}

.book .infos .button-div{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 1rem 0;
}

.book .infos .button-div button{
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--green);
  border: none;
  border-radius: 0.5rem;
  color: var(--white);
  padding: 1rem;

  cursor: pointer;
  transition: background 0.2s;
}

.book .infos .button-div button:hover{
  background: #228C3B;
}

.register-wrapper{
  display: none;
  grid-template-columns: 1fr auto;
  grid-template-rows: 4vh 96vh;
  grid-template-areas: "a x"
                       "r r";

  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 1rem 2.2rem;
}

.register{
  grid-area: r;
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  background-color: var(--white);
  color: var(--text);
}

.register input{
  height: 2.8rem;
  border: 1px solid var(--primary);
  border-radius: 10rem;
  padding-left: 0.7rem;
}

.register label{
  margin: 1rem 0 0.5rem  0.7rem;
}

.register #first-label{
  margin-top: 0 !important;
}

.register textarea{
  border: 1px solid var(--primary) !important;
  border-radius: 0.4rem;
  padding-left: 0.7rem;
  font-family: 'Roboto', sans-serif;
  resize: none;
  margin: 0 0.1rem;
}

textarea::-webkit-scrollbar {
  width: 0.5rem;
  background-color: var(--background);
  margin-right: 100%;
  height: 80%;
}

textarea::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}

.register select{
  height: 2.8rem;
  border: 1px solid var(--primary);
  border-radius: 10rem;
  padding: 0 0.7rem;
}

.register-button{
  padding: 1.5rem;
  color: var(--white);
  background-color: var(--primary);
  border: 2px solid var(--primary);
  border-radius: 1rem;
  margin-top: 2rem;
  cursor: pointer;

  transition: 0.2s;
}

.register-button:hover{
  background-color: var(--white);
  border: 2px solid var(--green);
  color: var(--green);
  font-weight: bold;
}

.exit-button{
  margin-left: 10fr;
  float: right;
  color: var(--white);
  font-size: 4.5rem;
  grid-area: x;
  cursor: pointer;
}

@media screen and (min-width: 800px) {  
  .book{
    display: flex;
    padding: 1rem;
    width: 60rem;
    height: auto;
  }
  
  .book img{
    height: auto;
    width: auto;
  }
  
  .book .infos{
    width: 100%;
    height: 100%;
    margin-left: 2rem;
  }

  .book .image-div{
    display: block;
    width: auto;
    height: auto;
  }

  .book .infos .button-div{
    margin-top: 100%;
    margin-left: 100%;
  }

  .book .infos .button-div{
    margin-top: 100%;
    margin-left: 100%;
    margin: 0;
  }

  .register{
    padding: 2rem;
  }
}